{% extends 'app.html.twig' %}

{% block head_style %}
    {{ parent() }}
{% endblock %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}
    <div class="row" style="margin-top: 15em">
        




{#        <input type="text" name="daterange" value="01/01/2018 - 01/15/2018" />#}

{#        <script>#}
{#            $(function() {#}
{#                $('input[name="daterange"]').daterangepicker({#}
{#                    opens: 'left'#}
{#                }, function(start, end, label) {#}
{#                    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));#}
{#                });#}
{#            });#}
{#        </script>#}






        <canvas id="country" height="357" width="716" style="width: 573px; height: 286px;"></canvas>
    </div>
{% endblock %}
{%  block body %}

{% endblock %}

{% block foot_script %}
    {{ parent() }}
    <script src="/js/chart.js"></script>



    <script>
        var ctx = document.getElementById("country");
        var mybarChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{{ date|raw }}],
                datasets: [{
                    label: "year",
                    backgroundColor: "rgba(38, 185, 154, 0.31)",
                    borderColor: "rgba(38, 185, 154, 0.7)",
                    pointBorderColor: "rgba(38, 185, 154, 0.7)",
                    pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
                    pointHoverBackgroundColor: "#fff",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointBorderWidth: 1,
                    data: [{{ count|raw }}]
                },
        {#            {#}
        {#                label: "browser",#}
        {#                backgroundColor: "rgba(3, 88, 106, 0.3)",#}
        {#                borderColor: "rgba(3, 88, 106, 0.70)",#}
        {#                pointBorderColor: "rgba(3, 88, 106, 0.70)",#}
        {#                pointBackgroundColor: "rgba(3, 88, 106, 0.70)",#}
        {#                pointHoverBackgroundColor: "#fff",#}
        {#                pointHoverBorderColor: "rgba(151,187,205,1)",#}
        {#                pointBorderWidth: 1,#}
        {#                data: [{{ browser|raw}}]#}
        {#}#}
                ]
             },
        });
    </script>

{#<script>#}
{#    $('#picker').datetimepicker({#}
{#        timepicker:false,#}
{#        datepicker:true,#}
{#        format:'Y-m-d',#}
{#        value:'2019-8-1',#}
{#        weeks:true#}
{#    })#}
{#</script>#}

{% endblock %}