<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#<link rel="icon" href="/images/logo_text.ico" type="image/x-icon"/>#}
    <title>Admin Panel</title>
    {% block head_style %}
        <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/vendor/nprogress/nprogress.css">
        <link rel="stylesheet" href="/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="/css/custom.min.css">

        <link rel="icon" type="image/x-icon" href="/img/logo.png"/>
        <style>
            div.dataTables_processing {
                background-color: #688a7e;
            }

            .dataTables_length {
                padding: 7px;
            }
        </style>
    {% endblock head_style %}

</head>


<body class="nav-md">
<script type="text/javascript">
    var admin = {}
</script>
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/" class="site_title"><h1>Admin</h1></a>
                </div>

                <div class="clearfix"></div>
                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            <li>
                                <a href="{{ path('home') }}">
                                    <i class="fa fa-home"></i>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('users') }}">
                                    <i class="fa fa-users"></i>
                                    Users
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-users"></i>
                                    Menu
                                    <span class="fa fa-chevron-down"></span>
                                </a>
                                <ul class="nav child_menu" style="display: none;">
                                    <li><a href="#">Sub Menu 1</a></li>
                                    <li><a href="#">Sub Menu 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <div class="nav toggle" style="margin-top: -1em">
                        <h3>{% block page_title %}{% endblock %}</h3>
                    </div>


                    <ul class="nav navbar-nav navbar-right">

                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="false">
                                WELCOME {#{{ app.user.username|upper }}#}
                                <span class=" fa fa-angle-down"></span>
                            </a>

                            <ul class="dropdown-menu dropdown-usermenu pull-right" style="z-index: 999999">
                                <li class="eborder-top">
                                    <a href="{{ path('change_password') }}"><i class="icon_profile"></i> My Profile</a>
                                </li>
                                <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->


    </div>
    <div class="right_col" role="main" style="height: fit-content">
        {% include "flash.html.twig" %}
        {% block content %}
        {% endblock %}
    </div>
</div>




{% block foot_script %}
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/fastclick/fastclick.js"></script>
    <script src="/vendor/nprogress/nprogress.js"></script>
    <script src="/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/custom.min.js"></script>


{#    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>#}
{#    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>#}
{#    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>#}
{#    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />#}

{#<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>#}
{#    <link rel="stylesheet" href="jquery.datetimepicker.min.js">#}
{#    <script src="https://stackpath.booystrapcdn.com/bootstarp/4.3.1/js/bootstarp.min.js"></script>#}
{#    <link href="https://stackpath.booystrapcdn.com/bootstarp/4.3.1/css/bootstarp.min.css"#}
{#    rel="stylesheet">#}
{#    <script src="jquery.datetimepicker.full.min.js"></script>#}







    <!-- footer content -->
    <footer>
        <div class="pull-right">
            &copy; 2018, All rights reserved.
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->

{% endblock %}

</body>
</html>